* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  --text1: #212529;
  --text2: #495057;
  --text3: #868e96;
  --bg-page1: #f8f9fa;
  --bg-element1: #fff;
  --bg-element2: #f8f9fa;
  --bg-element3: #e9ecef;
  --bg-element5: #212529;
  --border1: #343a40;
  --border4: #f1f3f5;
  --button-text: #fff;
  --primary1: #12b886;
  --card-count: 4;
  --width: 25%;
  --spacer: calc(var(--card-count) - 1);
  background-color: var(--bg-page1);
}

.home-layout {
  width: auto;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1919px) {
  .home-layout {
    width: 1376px;
  }
}

@media screen and (max-width: 1440px) {
  .home-layout {
    width: 1024px;
  }
}

@media screen and (max-width: 1056px) {
  .home-layout {
    width: 100%;
  }
}

.layout {
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
  flex-direction: column;
}

header {
  padding: 12px 0;
}

@media screen and (max-width: 1056px) {
  header {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 375px) {
  header {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.list li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 4px;
}

.list .bi {
  font-size: 20px;
}

.write-button {
  user-select: none;
  margin: 0 8px;
  height: 2rem;
  padding: 0 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  transition: all 0.125s ease-in;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  word-break: keep-all;
  border: 1px solid var(--bg-element5);
  color: var(--bg-element5);
  background: var(--bg-element2);
}

.write-button:hover {
  color: var(--button-text);
  background: var(--bg-element5);
  border: 1px solid var(--bg-element5);
}

.login-button {
  margin-left: 8px;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  background-color: black;
  color: white;
  transition: all 0.125s ease-in;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: 700;
  word-break: keep-all;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.home-tag-left {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

@media screen and (max-width: 1056px) {
  .home-tag-left {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 375px) {
  .home-tag-left {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.sort-bar-underline {
  position: absolute;
  width: 32%;
  height: 2px;
  background: var(--border1);
  left: 2%;
  bottom: -10px;
  transition: left 0.3s ease;
}

.sort {
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  display: flex;
  position: relative;
  color: var(--text3);
}

.sort > div {
  display: flex;
  position: relative;
}

.sort > div > a {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  -webkit-text-decoration: none;
  text-decoration: none;
  white-space: nowrap;
  color: inherit;
}

.sort > div > a:not(:first-child) {
  margin-left: 20px;
}

.sort .bi {
  margin-right: 8px;
}

.sort-active {
  color: var(--text1) !important;
  font-weight: 700;
}

.home-tag-right {
  position: relative;
  display: flex;
  align-items: center;
}

.home-tag-right-selecter {
  background: var(--bg-element1);
  height: 32px;
  width: 100px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px;
  font-weight: 600;
  color: var(--text2);
  font-size: 14px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
}

.home-tag-right-selecter:hover {
  opacity: 0.75;
}

.home-tag-right-selecter .bi {
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
}

.home-tag-right-selecter-bar {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 5;
  transform-origin: top right;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.2s ease-in-out;
}

.visible {
  opacity: 1;
  transform: scale(1);
}

.home-tag-right-selecter-bar-box {
  margin-top: 8px;
  width: 192px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  background: var(--bg-element1);
  color: var(--text1);
}

.home-tag-right-selecter-bar-box li {
  display: block;
  padding: 0.75rem 1rem;
  -webkit-text-decoration: none;
  text-decoration: none;
  background: var(--bg-element1);
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 0.875rem;
}

.selected {
  color: var(--primary1);
}

.home-tag-right-selecter-bar-box li:hover {
  background: var(--bg-element2);
}

main {
  width: 100%;
  margin: 32px 0;
}

@media screen and (max-width: 1056px) {
  main {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin-top: 16px;
  }
}

@media screen and (max-width: 425px) {
  main {
    margin-top: 0;
  }
}

.card-list {
  display: grid;
  grid-gap: 32px;
  padding: 0;
  margin: 0;
  --card-count: 5;
  --spacer: calc(var(--card-count) - 1);
  --width: 20%;
  grid-template-columns: repeat(
    var(--card-count),
    calc(var(--width) - (32px * var(--spacer) / var(--card-count)))
  );
}

@media screen and (max-width: 1919px) {
  .card-list {
    --card-count: 4;
    --width: 25%;
  }
}

@media screen and (max-width: 1440px) {
  .card-list {
    --card-count: 3;
    --width: 33.33%;
  }
}

@media screen and (max-width: 1056px) {
  .card-list {
    --card-count: 2;
    --width: 50%;
  }
}

.card {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  background: var(--bg-element1);
  border-radius: 4px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
  transition: box-shadow 0.25s ease-in, transform 0.25s ease-in;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.08);
}

.card-main {
  padding: 1rem;
  display: flex;
  flex: 1 1;
  flex-direction: column;
}

.card-main-title {
  font-size: 1rem;
  margin: 0 0 0.25rem;
  line-height: 1.5;
  word-break: break-word;
  color: var(--text1);
}

.card-main-content {
  color: inherit;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.card-main-content > p {
  height: 3.9375rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--text2);
  margin: 0 0 1.5rem;
}

.card-image-box {
  width: 100%;
  position: relative;
  padding-top: 52.1921%;
}

.card-image {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0px;
  color: transparent;
}

.card-sub-info {
  margin-top: auto;
  font-size: 0.75rem;
  line-height: 1.5;
  color: var(--text3);
}

.card-footer {
  padding: 0.625rem 1rem;
  border-top: 1px solid var(--border4);
  display: flex;
  font-size: 0.75rem;
  line-height: 1.5;
  justify-content: space-between;
  color: var(--text3);
}

.card-footer-user > span {
  color: var(--text1);
}

.card-footer-like {
  display: flex;
  align-items: center;
  color: var(--text1);
  font-size: 12px;
}

.card-footer-like .bi {
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
}

.sort-bar .bi {
  font-size: 20px;
  margin-right: 8px;
}

.dummy {
  background-color: var(--bg-element3);
  border-radius: 4px;
}

.dummy-list {
  margin-top: 32px;
}

.dummy-text {
  width: 100%;
  height: 20px;
}

.dummy-card-image {
  position: absolute;
  height: 100%;
  color: transparent;
}

.notBoards {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text3);
  font-size: 40px;
}
