<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='notFound/notFound.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <img
        src="https://static.velog.io/static/media/undraw_page_not_found_su7k.7e3de5e9.svg"
        alt="404-image"
      />
      <div class="message">아무것도 없네요!</div>
      <div class="home-button-box">
        <a href="/" class="home-button">홈으로</a>
      </div>
    </div>
  </body>
</html>
